<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('partials/head') %>
</head>
<body>
    
    <%- include('partials/navigation') %>


    <main class="text-center mt-5">
        <section>
            <p class="h3">The form section does not work, only it's here because it's an example. If you wanna contact me, you can use these options :)</p>
            <a href="mailto:rubenomaraguero@gmail.com" class="btn btn-outline-info">rubenomaraguero@gmail.com</a>
            <a href="https://www.linkedin.com/in/rubenomaraguerovarela1/" class="btn btn-outline-info">LinkedIn</a>
            <a href="https://github.com/omaraguero" class="btn btn-outline-info">GitHub</a>
        </section>
      </main>


    <div class="vh-100 d-flex justify-content-center align-items-center mt-5">

        <div class="card bg-dark text-white text-center">
            <div class="card-header">
                <h3>Contact me</h3>
            </div>
            <div class="card-body text-start">
                <form>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="message">Message</label>
                        <textarea name="message" rows="3"m class="form-control" placeholder="Write a message"></textarea>
                    </div>

                    <button class="btn btn-primary btn-block">Send</button>
                </form>
            </div>



        </div>

    </div>

    <%- include('partials/footer') %>
</body>
</html>